@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: 'Futura PT Demi', 'HelveticaNeue-Light', 'Helvetica Neue Light',
    'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
.mySwiper {
  min-height: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: all 3s ease-in-out;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #000;
}
.banner-pagination-bullet-active {
  background-color: red;
}
.img-link {
  width: 250px;
  margin-bottom: 10px;
  height: 250px;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next {
  margin-left: 20px;

  background-image: url("../../public/arrow-right.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: absolute;
  top: 48%;

  transform: translateX(150%);
  z-index: 100;

  transition: transform 0.15s ease-in-out;
}
.swiper-button-prev {
  font-size: 15px;
  background-image: url("../../public/arrow-left.png");
  z-index: 100;
  border-radius: 100%;

  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: absolute;
  margin-right: 10px;
  top: 48%;
  transform: translateX(-150%);

  z-index: 10;
}
.mySwiper:hover .swiper-button-next {
  transform: translateX(0%);
}
.mySwiper:hover .swiper-button-prev {
  transform: translateX(0%);
}

.swiper-button-prev:after {
  display: none;
}
.swiper-button-next:after {
  display: none;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}
.swiper-pagination-bullet {
  background-color: #027337 !important;
}

/* target all bullets */
.swiper-pagination-bullet {
  background-color: red;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #bcbaba;
  height: 1px;
}

/* Set the scrollbar thumb color and add shadow */
::-webkit-scrollbar-thumb {
  background-color: #0c0b0bd3;
  border-radius: 10px;
  max-height: 10px;
  box-shadow: 0 2px 8px rgba(41, 24, 24, 0.2);
}

/* Set the height of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  height: 8px;
}

/* Hide the scrollbar arrows */
::-webkit-scrollbar-button {
  display: none;
}
::-moz-selection {
  /* Code for Firefox */
  color: red;
  background: yellow;
}

::selection {
  color: black;
  background: rgba(230, 255, 7, 0.863);
}
